.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.png {
  height: 80px;
}

@media screen and (max-height: 900px) {
  .png {
    margin-top: -2%;
    scale: 40%;
  }
}
@media screen and (max-width: 320px),
  (max-width: 375px),
  (max-width: 425px),
  (max-width: 500px) {
  .logo {
    display: none;
  }
}
