.delivery {
  display: grid;
  grid-area: delivery;
  background-color: #84ceeb;
}
.container {
  height: 76vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
}
.title {
  background-image: linear-gradient(to bottom, #83c6e0, #18a0d6);
}
