.flex {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  border: 6px solid black;
  border-radius: 12px;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 20px;
}

.name {

}
.size {
    
}
.city {
    justify-content: flex-end;

}
.price {
}
.amount {
}
.number {
    justify-self: end;

}
.street {
    justify-self: end;

}
.totalAmount {
}
