.delivery {
  background-color: rgb(53, 40, 168);
  display: grid;
  grid-area: delivery;
}
.container {
  height: 77vh;
}
.closeButton {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
