.form {
  height: 22rem;
  overflow: auto;
  font-family: "Nunito Sans", sans-serif;
}
.formNight {
  color: white;
}
.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  width: 15rem;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions .submit {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #2e95c9;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.orderType {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.orderType select {
  height: 30px;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}

@media only screen and (max-width: 320px),
  (max-width: 375px),
  (max-width: 425px),
  (max-width: 768px) {
  .control input {
    width: 90%;

    height: 45px;
  }
  .orderType select {
    height: 45px;
  }
  .orderType {
    width: 90%;
  }
}
