.takeaway {
  height: 38.5vh;
  background-color: rgb(17, 17, 145);
  display: grid;
  grid-area: onspot;
}

.container {
  height: 38.5vh;
}
.closeButton {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
