.box {
  box-sizing: border-box;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 0.5px solid black;
  padding: 0.5rem;
  gap: 10%;
  font-family: "Nunito Sans", sans-serif;
}
.boxNight {
  color: white;
  border-bottom: 0.5px solid white;
}

.orders {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.name {
  font-size: 28px;
  font-weight: bold;
}
.ingredients {
  font-size: 20px;
}

.price {
  align-self: flex-end;
  font-size: 20px;
}
