.button {
  box-shadow: 0px 1px 0px 0px #1e9acf;
  background-color: #5AB9EA;
  border-radius: 6px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button:hover{
  background-color: #2e95c9;;
}