@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
p.day {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 0px;
}
p.night {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 0px;
}
.sidebar {
  position: fixed;
  box-sizing: border-box;
  width: 13vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #a1b4e2, #5680e9);
  overflow: auto;
  z-index: 1;
  border-right: 5px solid #c1c8e4;
  animation: slide-right 300ms ease-out forwards;
}
.sidebarNight {
  position: fixed;
  box-sizing: border-box;
  width: 13vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, black, #5680e9);
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  border-right: 5px solid #c1c8e4;
  animation: slide-right 300ms ease-out forwards;
}
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-15rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(0rem);
  }
  to {
    opacity: 1;
    transform: translateX(-15rem);
  }
}
.closeButton {
  position: relative;
  left: 10%;
  top: 2%;
  background-color: white;
}

.list {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebarItemButton {
  width: 8.5rem;
  padding: 5px 0px;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: medium;
  text-overflow: clip;
  border-radius: 12px;
  border: 0.5px solid black;
  cursor: pointer;
}
.sidebarItemButton:hover {
  background-color: #5ab9ea;
}
.user {
  font-size: medium;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid black;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
  gap: 5px;
}
.userNight {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.5px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: normal;
  gap: 5px;
}

@media screen and (max-width: 1200px) {
  .text {
    display: none;
  }
  .sidebarItemButton {
    width: 5rem;
  }
  .user {
    padding: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    display: none;
  }
  .sidebarItemButton {
    width: 4rem;
  }
  .user {
    padding: 5px;
    font-size: small;
  }
}

@media only screen and (max-width: 400px) {
  .sidebar {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(to bottom right, #a1b4e2, #5680e9);
    z-index: 1;
    animation: slide-right 300ms ease-out forwards;
  }
  .list {
    display: flex;
    flex-direction: row;
    height: 10vh;
  }
  .text {
    display: contents;
  }
}
