.onspot {
  display: grid;
  grid-area: onspot;
  background-color: white;
  box-shadow: inset 0px 0px 0px 0.5px black;
}
.onspotNight {
  display: grid;
  grid-area: onspot;
  background-color: rgb(47, 47, 59);
  box-shadow: inset 0px 0px 0px 0.5px black;
}
.container {
  height: 68vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 15px;
}
.title {
  box-shadow: inset 0px 0px 0px 0.5px black;
  background-image: linear-gradient(to top, #83c6e0, #18a0d6);
}
.titleNight {
  box-shadow: inset 0px 0px 0px 0.5px black;
  background-image: linear-gradient(to top, black, rgb(47, 47, 59));
}
p.day {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  height: 0px;
}
p.night {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  height: 0px;
}

@media screen and (max-width: 320px),
  (max-width: 375px),
  (max-width: 425px),
  (max-width: 600px) {
  p.day {
    margin-top: -1%;
    padding: 10px 0px;
  }
  p.night {
    margin-top: -1%;
    padding: 10px 0px;
  }
}
