.container {
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  background-color: lightblue;
  overflow-wrap: break-word;
  text-align: left;
}
.container li {
  font-weight: bold;
}

.tr th {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  padding: 1em;
}

.thNight {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: white;
}

.button {
  height: 50px;
  width: 50px;
}
.button:hover {
  background-image: linear-gradient(to bottom right, #b7c9f1, #5680e9);
  cursor: pointer;
}

.action {
  display: flex;
  gap: 5px;
}
