@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

.form input {
  width: 200px;
  text-align: center;
}
::placeholder {
  text-align: end;
}
.form button {
  width: 200px;
}
.panel {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.table {
  margin-top: 4vh;
  border: 1px solid black;
  width: 100%;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
}

.ingredients {
  padding: 10px;
}
tr:nth-child(1) {
  background-color: lightgrey;
}
th:nth-child(1) {
  width: 2vw;
}
th:nth-child(2) {
  width: 8vw;
}

th:nth-child(3) {
  width: 20vw;
}
th:nth-child(4) {
  width: 10vw;
}
th:nth-child(5) {
  width: 10vw;
}
th:nth-child(6) {
  width: 10vw;
}

p.day {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p.night {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.labelDay {
  color: black;
}
.labelNight {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.button {
  padding: 0.5em 3em;
  font-size: medium;
  border-radius: 6px;
  border: 0.1em solid black;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}

.button:hover {
  background-image: linear-gradient(to bottom right, #b7c9f1, #5680e9);
  cursor: pointer;
}
