.container {
  display: grid;
  grid-template-columns: 85vw 15vw;
  grid-template-rows: 100vh;
  grid-template-areas:
    "panel header "
}
.header {
  display: grid;
  grid-area: header;
  background-color: black;
}

.panel {
  display: grid;
  
  grid-area: panel;
  background-color: blue;
}

.button{
    align-self: start;
    justify-self: center;
    margin-top: 20%;
}
.panelItems{
  box-sizing: border-box;
  padding: 25px;
  margin-left: 10vw;
  margin-top: 10vh;
  width:65vw;
  height: 80vh;
  background-color: red;
  
}
.flex{
  display: flex;
  justify-content: Center;
  gap: 10px;
}