.header {
  background-image: linear-gradient(to bottom right, #b7c9f1, #5680e9);
  display: grid;
  grid-area: header;
}
.menuButton {
  margin-top: 1%;
  margin-left: 1%;
  padding: 6px 24px;
}

.add {
  margin-left: 1%;
  padding: 6px 24px;
}
.countdown {
  color: black;
  font-size: 200;
}

.name {
  text-align: end;
  margin-right: 10%;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
