p {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
}
.sidebar {
  position:fixed;
  box-sizing: border-box;
  width: 14vw;
  height: 100vh;
  background-color: rgb(43, 183, 207);
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  border-right: 5px solid rgb(44, 164, 211);
}
.closeButton {
  position: relative;
  left: 10%;
  top: 2%;
  box-shadow: 0px 1px 0px 0px #1e9acf;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 10%;
  left: 15%;
  width: 150px;
}
.sidebarItemButton {
  background-color: #39c0f1;
  box-shadow: 0px 1px 0px 0px #1e9acf;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  
}

@media screen and (max-width: 1300px) {
  .list {
    left: 9%;
    width:130px;
  }
  p{
    font-size: 15px;
  }
  .sidebarItemButton{
    padding: 2px 10px;
    scale:95%;
  }
  
  .text {
    scale: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .list {
    left: 3%;
    width:90px;
  }
  p{
    font-size: 15px;
  }
  .sidebarItemButton{
    padding: 2px 0px;
    scale:90%;
  }
  
  .text {
    display: none;
  }
}