.grid {
  z-index: 0;
  display: grid;
  grid-template-columns: 43% 43%;
  grid-template-rows: 13vh 38.5vh 38.5vh 10vh;
  justify-content: end;
  grid-template-areas:
    "header header"
    "delivery onspot"
    "delivery takeaway"
    "footer footer";
}
.gridExpanded {
  z-index: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13vh 38.5vh 38.5vh 10vh;
  grid-template-areas:
    "header header"
    "delivery onspot"
    "delivery takeaway"
    "footer footer";
}

.sidebar {
  display: flex;
}

.info {
  color: black;
  position: absolute;
  width: 50vw;
  left: 25vw;
  top: 25vh;
}

.deliveryClosed{
  display: grid;
  grid-template-columns: 43% 43%;
  grid-template-rows: 13vh 77vh 10vh;
  justify-content: end;
  grid-template-areas:
    "header header"
    "onspot takeaway"
    "footer footer";
}

.deliveryClosedExpanded{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13vh 77vh 10vh;
  grid-template-areas:
    "header header"
    "onspot takeaway"
    "footer footer";
}