.grid {
  z-index: 0;
  display: grid;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: 13vh 77vh 10vh;
  background-color: #8860d0;
  justify-content: end;
  grid-template-areas:
    "header header header"
    "delivery onspot takeaway"
    "footer footer footer";
}
.gridExpanded {
  z-index: 0;
  display: grid;
  grid-template-columns: 33.4% 33.3% 33.3%;
  grid-template-rows: 13vh 77vh 10vh;
  grid-template-areas:
    "header header header"
    "delivery onspot takeaway"
    "footer footer footer";
}

.sidebar {
  display: flex;
}

.info {
  color: black;
  position: absolute;
  width: 50vw;
  left: 25vw;
  top: 25vh;
}

.deliveryClosed {
  display: grid;
  grid-template-columns: 43% 43%;
  grid-template-rows: 13vh 77vh 10vh;
  justify-content: end;
  grid-template-areas:
    "header header"
    "onspot takeaway"
    "footer footer";
}

.deliveryClosedExpanded {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13vh 77vh 10vh;
  grid-template-areas:
    "header header"
    "onspot takeaway"
    "footer footer";
}
