.container {
  z-index: 0;
  display: grid;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: end;
  grid-template-areas:
    "header header header"
    "delivery onspot takeaway"
    "footer footer footer";
}
.containerExpanded {
  z-index: 0;
  display: grid;
  grid-template-columns: 33.4% 33.3% 33.3%;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header header"
    "delivery onspot takeaway"
    "footer footer footer";
}

.sidebar {
  display: flex;
}

@media screen and (max-width: 320px),
  (max-width: 375px),
  (max-width: 425px),
  (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "delivery"
      "onspot"
      "takeaway"
      "footer";
  }
  .containerExpanded {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "delivery"
      "onspot"
      "takeaway"
      "footer";
  }
}
